
@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-family: 'quicksand',Arial, Helvetica, sans-serif;
    
  }

  .top-banner img {
    width: 100%;
    height: 150px;

  }

  .page-title {

    position: absolute;
    left: 40px;
    top: 200px;
    font-weight: 700;
    color: #163568;
    font-size: 40px;
    font-family: sans-serif;
  }

  
  .contact-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #298EBE; */
    margin: auto;
    
  }
  .contact-section .container {
    max-width: 1200px;
    width: 85vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-section .container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #163568;
    text-align: center;
    margin-bottom: 10px;
    font-family: sans-serif;
    
  }
  .contact-section .container h2 span {
    color: #A8C856;
    padding-right: 5px;
  }
  .contact-section .container .box {
    display: grid;
    box-shadow: 0px 0px 10px #000;
    
    
  }
  .contact-section .container .box .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A8C856;
    color: #163568;
  }
  .contact-section .container .box .info h4 {
    margin: 10px 0;
    font-family: sans-serif;
    font-weight: 700;
  }
  .contact-section .container .box .info p {
    margin: 5px 0px;
  }
  .contact-section .container .box .info p:nth-child(4) {
    margin-bottom: 20px;
  }
  .contact-section .container .box h3 {
    background: #efefef;
    padding: 10px;
  }
  .contact-section .container .box form {
    width: 100%;
    display: grid;
    background: #efefef;
    padding: 10px 10px;
  }
  .contact-section .container .box form .name, html body .container .box form .company, html body .container .box form .email, html body .container .box form .tele {
    margin-bottom: 20px;
  }
  .contact-section .container .box form .name label, html body .container .box form .company label, html body .container .box form .email label, html body .container .box form .tele label {
    font-size: 14px;
    opacity: 0.9;
  }
  .contact-section .container .box form .name input, html body .container .box form .company input, html body .container .box form .email input, html body .container .box form .tele input {
    padding: 5px;
    outline: none;
    border: 1px solid #A8C856;
    width: 95%;
    height: 60%;
  }
  .contact-section .container .box form .message {
    grid-column: 1/3;
  }
  .contact-section .container .box form .message label {
    font-size: 14px;
    opacity: 0.9;
  }
  .contact-section .container .box form .message #message {
    height: 90px;
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid #A8C856;
  }
  .contact-section .container .box form .submit {
    grid-column: 1/3;
  }
  .contact-section .container .box form .submit input[type=submit] {
    cursor: pointer;
    background: #A8C856;
    letter-spacing: 0.2em;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    display: block;
    max-width: 80%;
    width: 50%;
    margin: auto;
    text-align: center;
    transition: 0.3s linear;
    font-weight: bold;
  }
  .contact-section .container .box form .submit input[type=submit]:hover, html body .container .box form .submit input[type=submit]:focus {
    color: #efefef;
    background: #163568;
  }
  @media (min-width: 700px) {
    .contact-section .container h2 {
      justify-content: flex-start;
      align-items: flex-end;
      font-size: 2em;
    }
    .contact-section .container .box {
      grid-template-columns: 1fr 2fr;
    }
    .contact-section .container .box .info {
      grid-row: 1/3;
      font-size: 1.2em;
    }
  }